body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f4f4f4;
}

select, button {
  padding: 10px;
  margin-top: 20px;
}

#message {
  margin-top: 20px;
  font-size: 18px;
  color: green;
}
